<!DOCTYPE html>
<html>
    <head><title> Change Password </title></head>
    <body>
        <h2>
            Change Password of         {% if user != None %} 
            {{user.First_Name}} {{user.Last_Name}} 
        {% endif %}
    </h2>

        <style>
            h5 { color: brown;}
        </style>
        {% for message in messages %}
        <h5> {{message}}</h5>
        {% endfor %}


        <form method="post" action="change_password"> 
            {% csrf_token %}
            <p>Old Password: </p>
            <input type="password" name="old_pass">
            <p>New Password: </p>
            <input type="password" name="new_pass">
            <p>Re-enter Passwrord: </p>
            <input type="password" name="confirm_pass">
            <br><br>
            <input type="submit">
        </form>
        <br>
    </body>
</html>