#virtual environment
venv

#environment variables
.env

#media, logs and static folder
backend/static
static
media
logs
backend/static
backend/media
backend/logs

#vs code files
*.vscode
__pycache__
migrations
*.pyc
